.testimonials {
    background: var(--primaryColor);
    height: 600px;
    display: grid;
    padding: 40px;
    grid-template-rows: 200px auto;
    justify-content: center;
    align-items: center;
}

.TestimonialsHeading {
    justify-self: center;
    align-self: start;
}

.TestimonialsList {
    align-self: center;
    justify-self: center;
    display: flex;
    gap: 40px;
}

/* Testimonial card */
#cardImage{
    grid-area: cardImage;
    height: 120px;
    width: 120px;
    border-radius: 18px;
}
#cardName {
    grid-area: cardName;
    justify-self: start;
    align-self: center;
}
#cardRating {
    grid-area: cardRating;
    align-self: start;
    justify-self: start;
}
#cardReview{
    grid-area: cardReview;
}

#testimonialCard {
    height: 300px;
    width: 300px;
    display: grid;
    grid-template-areas: 
        "cardImage cardName cardName"
        "cardImage cardRating cardRating"
        "cardReview cardReview cardReview"
        "cardReview cardReview cardReview"
    ;
    grid-template-columns: 120px auto auto;
    background: white;
    gap:20px;
    padding: 20px;
    border-radius: 32px;
}