.footer {
    margin: 0 42px 0 42px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.footer img {
    max-height: 300px;
    max-width: 200px;
}

.footer li {
    list-style-type: none;
}

.footer a {
    text-decoration: none;
}