.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: var(--margin);
    width: var(--max-width);
}

.headerImg {
    max-width: 20%;
    min-width: 180px;
    width: auto/2;
}