.hero {
    margin-bottom: 40px;
}

.heroContainer {
    grid-template-columns: 1fr 1fr;
}

.heroText{
    color: white;
}
.heroImage {
    object-fit: cover;
    width: 100%;
    height: 340px;
    border-radius: 16px;
    margin-bottom: -60px;
}
.yellowBorderBtn {
    border: 4px solid var(--secondaryColor);
}

@media screen and (max-width: 740px) {
    .heroContainer {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
    .heroDetails {
        display: grid;
        height: 100%;
    }
    
}