.hero {
    margin-bottom: 40px;
}

.heroContainer {
    grid-template-columns: 1fr 1fr;
}

.yellowBorderBtn {
    border: 4px solid var(--secondaryColor);
}

@media screen and (max-width: 740px) {
    .heroContainer {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
    .heroDetails {
        display: grid;
        height: 100%;
    }
    
}