@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700;800&family=Markazi+Text:wght@400;500;600;700&display=swap');

:root {
    --primaryColor: #495E57;
    --secondaryColor: #F4CE14;
    --karla: 'Karla', sans-serif;
    --markazi: 'Markazi Text', serif;
    --margin: 0 42px 0 42px;
}
/* font-family: 'Karla', sans-serif;
font-family: 'Markazi Text', serif; */

.app {
    display: grid;
    grid-template-rows: 100px auto 500px;
}

