/* Menu List */
.menu-list {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}

@media screen and (max-width:840px){
    .menu-list {
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 620px) {
    .menu-list {
        grid-template-columns: auto;
    }
}
/* end Menu List */

.page-main-image {
    object-fit: cover;
    width: 100%;
    height: 340px;
    border-radius: 16px;
    margin-bottom: -60px;
}

.text-white{
    color: white;
}